/* ELEMENTS */
body 		{ font-family: verdana; font-size: 10px; background-color: #c4c4c4; }
a 			{ text-decoration: none; color: #000; font-weight: bold; }
h1 			{ font-size: 35px; padding: 0px; margin: 0px; margin-left: 20px; line-height: 100px; }
h2 			{ text-align: center; font-size: 20px; }
td 			{ font-size: 12;}
td.head 	{ font-size: 15; font-weight: bold;}

/* IDs */
#frame 			{ position: absolute; top: 20px; left: 50%; margin-left: -450px; width: 900px; height: 700px; -moz-border-radius: 15px; border-radius: 15px; box-shadow: 0px 0px 30px #888888; background-color: #fff; }
#header 		{ width: 100%; height: 99px; border-bottom: solid 1px; }
#menu 			{ position: absolute; top: 100; left: 0; width: 150px; height: 600px; }
#content 		{ position: absolute; top: 100; left: 150; width: 739; height: 600; padding-left: 10px; border-left: solid 1px; overflow: scroll;}
#box 			{ position: fixed; top: 50%; left: 50%; height: 400; width: 600; margin-left: -300; margin-top: -200; -moz-border-radius: 15px; border-radius: 15px; background-color: #fff; }
#box_background { position: fixed; top:0; left: 0; width: 100%; height: 100%; background-color: #000; opacity: 0.4; }


/* CLASSES */
.menu_item 			{ width: 137px; height: 25px; line-height: 200%; font-size: 12px; padding-left: 10px; border-left: solid 3px; }
.menu_item:hover 	{ border-color: orange; }
.label 				{ font-weight: bold; }
.center				{ text-align: center; }