/* ELEMENTS */
body 		{ font-family: verdana; font-size: 10px; background-color: #c4c4c4; }
a 			{ text-decoration: none; color: #000; font-weight: bold; }
h1 			{ font-size: 35px; padding: 0px; margin: 0px; margin-left: 20px; line-height: 100px; }
h2 			{ text-align: center; font-size: 20px; }
td 			{ font-size: 12; margin: 0px;}
td.head 	{ font-size: 15; font-weight: bold;}

/* IDs */
#frame 			{ position: absolute; top: 20px; left: 50%; margin-left: -450px; margin-bottom: 100px; width: 900px; height: 1240px; -moz-border-radius: 15px; border-radius: 15px; box-shadow: 0px 0px 30px #888888; background-color: #fff; }
#header 		{ width: 100%; height: 99px; border-bottom: solid 1px; }
#menu 			{ position: absolute; top: 100; left: 0; width: 150px; height: 600px; }
#content 		{ position: absolute; top: 100; left: 0; width: 890; height: 1125; padding-left: 10px; overflow: auto;}
#box 			{ position: fixed; top: 50%; left: 50%; height: 400; width: 590; margin-left: -300; margin-top: -200; -moz-border-radius: 15px; border-radius: 15px; background-color: #fff; padding-left: 10px; }
#box_background { position: fixed; top:0; left: 0; width: 100%; height: 100%; background-color: #000; opacity: 0.4; }

/* CLASSES */
.menu_item 			{ width: 137px; height: 25px; line-height: 200%; font-size: 12px; padding-left: 10px; border-left: solid 3px; }
.menu_item:hover 	{ border-color: orange; }
.label 				{ font-weight: bold; }
.box-text			{ }
.tableicon			{ width: 15px; }
.title 				{ width: 100%; height: 110px; position: relative; }
.title_pic			{ position: absolute; top: 10; left: 50%; width: 100px; margin-left: -70px;}
.crossicon			{ position: absolute; top: 4px; right: 4px; width: 17px;}
.settings_small		{ margin-top: 20px; margin-left: 10px; margin-right: 10px; margin-bottom: 0px; padding-top: 10px; float: left; width: 273px; height: 200px; text-align: center; -moz-border-radius: 5px; border-radius: 5px; box-shadow: 0px 0px 5px #888888; background-color: #fff;}
.settings_big		{ overflow: auto; position: relative; margin-top: 20px; margin-left: 10px; margin-right: 10px; margin-bottom: 0px; padding-top: 10px; float: left; width: 860px; height: 300px; text-align: center; -moz-border-radius: 5px; border-radius: 5px; box-shadow: 0px 0px 5px #888888; background-color: #fff;}
.playlist_item		{ position: relative; float: left; margin-left: 87px; margin-top: 10px; width: 300px; height: 25px; line-height: 25px; letter-spacing: 3px; font-size: 18px; -moz-border-radius: 5px; border-radius: 5px; box-shadow: 0px 0px 5px #888888; background-color: #fff;}

.box_background		{ 
	position: fixed; 
	top: 0; left: 0; 
	width: 100%; 
	height: 100%; 
	opacity: 0.5; 
	z-index: 2; 
	background-color: #000; 
	display: none;
}
.box_frame			{ 
	position: absolute; 
	top: 50%; left: 50%; 
	z-index: 3; 
	background-color: #fff; 
	-moz-border-radius: 5px; 
	border-radius: 5px; 
	box-shadow: 0px 0px 5px #888888;
	display: none;
	text-align: center;
}
