body {
	font-family: verdana;
	font-size: 10px;
	background-color: #c4c4c4;
}
a {
	text-decoration: none;
	color: #000;
	font-weight: bold;
}

#frame {
	position: absolute;
	top: 20px;
	left: 50%;
	margin-left: -450px;
	width: 900px;
	height: 700px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	box-shadow: 0px 0px 30px #888888;
	background-color: #fff;
}
#header {
	width: 100%;
	height: 100px;
}
#menu {
	position: absolute;
	top: 100;
	left: 0;
	width: 150px;
	height: 600px;
}

#content {
	position: absolute;
	top: 100;
	left: 150;
	width: 749;
	height: 599;
	border-left: solid 1px;
	border-top: solid 1px;
}
.menu_item {
	width: 137px;
	height: 25px;
	line-height: 200%;
	font-size: 12px;
	padding-left: 10px;
	border-left: solid 3px;
}
.menu_item:hover {
	border-color: orange;
}
